<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @great_grand_parent.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @great_grand_parent.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @great_grand_parent.gender %>
</p>

<%= link_to 'Edit', edit_great_grand_parent_path(@great_grand_parent) %> |
<%= link_to 'Back', great_grand_parents_path %>
