<p id="notice"><%= notice %></p>

<h2>曾孫世代</h2>
<%= link_to '孫世代へ', grand_children_path %>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Gender</th>
      <th>Grand child</th>
      <th>先祖</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @great_grand_children.each do |great_grand_child| %>
      <tr>
        <td><%= great_grand_child.first_name %></td>
        <td><%= great_grand_child.last_name %></td>
        <td><%= great_grand_child.gender %></td>
        <td><%= great_grand_child.grand_child_id %></td>
        <% if true %>
        <td><%= great_grand_child.grand_child.child.parent.grand_parent.great_grand_parent.last_name %><%= great_grand_child.grand_child.child.parent.grand_parent.great_grand_parent.first_name %></td>
        <% end %>
        <td><%= link_to 'Show', great_grand_child %></td>
        <td><%= link_to 'Edit', edit_great_grand_child_path(great_grand_child) %></td>
        <td><%= link_to 'Destroy', great_grand_child, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Great Grand Child', new_great_grand_child_path %>
