<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @grand_child.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @grand_child.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @grand_child.gender %>
</p>

<p>
  <strong>Child:</strong>
  <%= @grand_child.child_id %>
</p>

<%= link_to 'Edit', edit_grand_child_path(@grand_child) %> |
<%= link_to 'Back', grand_children_path %>
